#logo{
}
body{
    background-color:#ebeff5;
}
#total_orders{
    background-color:#4cb4c7;
}
#orders-delivered{
    background-color:#7abecc;
}
#order-pending{
    background-color:#7CD1C0;
}