{% extends 'accounts/main.html' %}
{% load static %}
{% block content %}
<br>
<div class="row">
    <div class="col-md-4">
        <div class="card card-body">
            <p>Are you sure want to create a customer?</p>
            <form method="POST" action="{% url 'create_customer'%}">
                {% csrf_token %}
                {{form.username}}
                {{form.email}}
                {{form.password1}}
                {{form.password2}}
                <br>
                <button class="btn btn-danger" type="submit" value="Create">Create</button>
                <button class="btn btn-warning" value="Create"><a style="color:white" href="{% url 'home' %}">Cancel</a> </button>
                <hr>
                {{formSet.errors}}
            </form>
        </div>
    </div>
</div>
<script>
    var form_fields = document.getElementsByTagName('input')
    form_fields[1].placeholder = 'Username';
    form_fields[2].placeholder = 'Email';
    form_fields[3].placeholder = 'Enter Password';
    form_fields[4].placeholder = 'Re-enter Password';

    for (var field in form_fields) {
        form_fields[field].className += ' form-control'
    }


</script>
{%endblock%}

