{% extends 'accounts/main.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer</title>
</head>
<body>
<br>
<div class="row">
    <div class="col-md">
        <div>
            <h5> Customer: </h5>
            <hr>
            <a class="btn btn-outline-info btn btn-sm btn-block" href="{% url 'update_customer' customer.id %}">Update Customer</a>
            <a class="btn btn-outline-info btn btn-sm btn-block" href="{% url 'delete_customer' customer.id %}">Delete Customer</a>
            <a class="btn btn-outline-info btn btn-sm btn-block" href="{% url 'create_order' customer.id %}">Place New Order</a>
        </div>
    </div>
    <div class="col-md">
        <div>
            <h5> Contact Information: </h5>
            <hr>
            <p>Name: {{customer.name}}</p>
            <p>Email: {{customer.email}}</p>
            <p>Phone: {{customer.phone}}</p>
        </div>
    </div>
    <div class="col-md">
        <div>
            <h5>Total Orders:</h5>
            <hr>
            <h3 style="text-align:center;padding:10px">{{orderCount}}</h3>
        </div>
    </div>

</div>
<hr>

<div class="col-md" >
    <div class="card card-body">
        <form method="get">
            {{myFilter.form}}
            <br>
            <button class="btn btn-primary" type="submit">Search</button>
        </form>
    </div>
</div>
<div class="card card-body">
    <table class="col-md">
        <tr>
            <th>Product</th>
            <th>Category</th>
            <th>Note</th>
            <th>Date Ordered</th>
            <th>Status</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        {% for order in orders %}
        <tr>
            <td>{{order.product}}</td>
            <td>{{order.product.category}}</td>
            <td>{{order.note}}</td>
            <td>{{order.dateCreated}}</td>
            <td>{{order.status}}</td>
            <td><a class="btn btn-info" href="{% url 'update_order' order.id %}" >Update</a> </td>
            <td><a class="btn btn-danger" href="{% url 'delete_order' order.id %}" >Delete</a> </td>
        </tr>
        {% endfor %}
    </table>

</div>
</body>
</html>

{% endblock %}