{% extends 'accounts/main.html' %}
{% load static %}
{% block content %}
<br>
    <div class="row">
        <div class="col-md-4.5">
            <div class="card card-body">
                <form method="post" action="">
                    {% csrf_token %}
                    {{order}}
                    <br>
                    <br>
                    <input type="submit" value="Delete" name="Submit">
                    <button><a href="{% url 'customer' order.customer.id %}">Cancel</a> </button>
                </form>
            </div>
        </div>
    </div>



{% endblock %}