{% load static %}
<style>
    #hello-message {
        font-size: 18px;
        color: white;
        margin-right: 20px;
    }
</style>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <img src="{% static 'images/Shazam.png' %}" style="width:30px;height:30px;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">

        <ul class="navbar-nav">
            {% if request.user.is_staff %}
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'home' %}">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'products' %}">Products</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'user-page' %}">Home</a>
            </li>
            {%endif%}
        </ul>

    </div>
    <span id="hello-message">Hello, {{request.user}}</span>
    <span><a href="{% url 'signout' %}">Sign Out</a></span>
</nav>