{% extends 'accounts/main.html'%}
{% load static %}
{% block content %}

<div class="row">
    <div class="col-md-4">
        <div class="card card-body">
            <form method="POST" action="">
                {% csrf_token %}
                {% for fields in form %}
                {{fields}}
                <hr>
                {% endfor %}
                <br>
                <input type="submit" name="Submit" value="Update" class="btn btn-sm btn-info">
                <button onclick="accounts/customer.html" class="btn btn-sm btn-danger">Cancel</button>
            </form>
        </div>
    </div>
</div>


{%endblock%}