{% extends 'accounts/main.html' %}
{% load static %}
{% block content %}
    <div class="row">
        <div class="col-md-4.5">
            <div class="card card-body">
                <form method="post" action="">
                    {% csrf_token %}
                    {{formSet}}
                    <br>
                    <br>
                    <input type="submit" value="Submit" name="Submit">
                    <button><a href="{% url 'home' %}">Cancel</a> </button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}